<div class="container py-4">
  <div class="display-flex justify-content-between align-items-center mb-4">
    <h2 class="text-choco mb-4">🛒 Your Cart</h2>
    @if (cartItems().length > 0) {
    <button class="remove-btn" (click)="clearCart()">Clear Cart</button>
    }
  </div>
  @if (cartItems().length > 0) {
  <ul class="cart-list">
    @for (product of cartItems(); track product.key) {
    <li class="cart-item">
      <img
        [src]="
          environment.apiUrl + '/ice-creams/images/' + product.key + '.png'
        "
        alt="{{ product.name }}"
      />
      <div class="info">
        <h5>{{ product.name }}</h5>
        <p class="mt-2">
          {{ product.quantity }} X {{ product.price }} =
          <strong>₹{{ product.price * product.quantity }}</strong>
        </p>
      </div>
      <button class="remove-btn" (click)="removeFromCart(product.key)">
        Remove
      </button>
    </li>
    }
  </ul>
  <div class="cart-summary my-4 text-end">
    <p><strong>Total Items:</strong> {{ totalItems() }}</p>
    <p><strong>Total Amount:</strong> ₹{{ totalPrice() }}</p>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Checkout
    </button>
  </div>
  }@else {
  <div class="alert alert-info text-center">
    Your cart is empty! Add some sweet treats 🍦
  </div>
  }
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to proceed with the checkout? Your order will be
          placed with the current items in your cart.
        </p>
        <p>
          Total Items: <strong>{{ totalItems() }}</strong>
        </p>
        <p>
          Total Amount: <strong>₹{{ totalPrice() }}</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onBuyNow()"
        >
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>
